.container {
    backdrop-filter: blur(4px);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 20px 25px -5px rgba(89, 116, 151, 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.link {
    background-color: #f9d547;
    color: #1b2025;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border-radius: 0.375rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    text-decoration: none;
}

.link:hover {
    background-color: #c0a641;
    color: #13161a;
}

.homeLink {
    background-color: #f3f3f4;
}

.homeLink:hover {
    background-color: #a5b3bd;
    color: #13161a;
}